.single__product{
    background-color: #fff;
    padding: 60px 0;
}
.product__wrapper{
    display: flex;
    gap: 0 30px;
    padding: 1rem;
    border-radius: 10px;

    h2{
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    p{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    strong{
        display: block;
        font-size: 38px;
        font-weight: 600;
        margin: 85px 0 20px 0;
    }
    button{
        padding: 20px 40px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        font-size: 16px;
        background-color: #002f34;
        color: #fff;
    }
    .like_heart{
        // width: 230px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.single__product--img{
    width: 360px;
    max-height: 350px;
    border-radius: 10px;
}
