.single__category--wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category__item--products {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;

  .title_categ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .category_desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .prices {
    small {
      font-size: 12px;
      color: #545b62;
    }
  }

  h2 {
    font-size: 35px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    color: #545b62;
    font-weight: 500;
  }
  strong {
    font-weight: 600;
    font-size: 28px;
  }
  .btn__searchResult {
    padding: 15px 40px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: #002f34;
    color: #fff;
    margin-top: 25px;
  }
}

.category__img {
  width: 216px;
  max-height: 220px;
}
